<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="test.ValidateMyAccountPage"/>
      <class name="test.ValidateHotelSearch"/>
      <class name="test.ValidateLoginPage"/>
      <class name="test.ValidateSignUpPage"/>
      <class name="myproj.Qtproject.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
